@using Enterprise.Models
@model IEnumerable<Item>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
	@ViewBag.Title
</h2>

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
	<p class="text-success">@ViewBag.StatusMessage</p>
}

<div class="panel">
	<div class="panel-body">
		@using (Html.BeginForm((string)ViewBag.ActionName, "Manage", FormMethod.Post))
		{
			@Html.ValidationSummary()
			<table class="content-table table table-striped table-condensed table-bordered">
				<tr>
					<th class="text-center">id</th>
					<th class="text-center">Назва</th>
					@ViewBag.AdditionalField
				<th class="text-center">Опис</th>
				<th class="text-center">Ким створено (логін)</th>
				<th class="text-center">Дата створення</th>
				<th class="text-center">Дії</th>
			</tr>
			@Html.EditorForModel()
		</table>
		<div class="form-group">
			<div class="text-center">
				<input type="submit" class="btn btn-default" value="Зберегти" @(Model.Count() == 0 ? "disabled" : string.Empty)/>
			</div>
		</div>
		}
	</div>
</div>